h1 {
 background-color: blue;
 color: #FFFFFF;
 text-align: center;
}

header {
 background-color: blue;
 opacity: 0.9;
 text-align: center;
}

a:link {
 color: #FFFFFF;
 text-decoration: none
}

nav { 
 color: #FFFFFF;
 background-color: #FF6347;
 font-size: 20px;
 opacity: 1;
 text-align: center;
}

main {
 text-align: center;
}

section {
 text-align: center;
 width: calc( ( 100% / 4 ) - 2px) ;
}

footer{
 font-size: 14px;
}

div {
 color: #FFFFFF; 
 background-color: blue;
 text-align: center;
 font-size: 14px;
}
<!--Essa e a parte da foto-->
nav img{
	height: 30px;
	width: 35px;
	float: right;

}

/*Essa parte eu consigo mecher no link "Carrinho de compras", porem nao consigo deixar proximo da foto do carrinho*/
.Carr{
	font-size: 15px;
	text-align: center;
	display: inline;
	text-align: center;
	list-style-type: none;	
}
