h1 {
 text-align: center;
 color: #FFFFFF;
}

header {
 background-color: blue;
 opacity: 0.9;
 text-align: center;
}

nav {
 background-color: #FF6347;
 font-size: 10;
 opacity: 0.9;
 text-align: center;
}

main {
 
}

footer{
 font-size: 6;
}

div {
  text-align: center;
  font-size: 2;
}
